

NET "CLK_IN" LOC = B9;



NET "RAM2_Addr[17]" LOC = U15;
NET "RAM2_Addr[16]" LOC = U16;
NET "RAM2_Addr[15]" LOC = V9;
NET "RAM2_Addr[14]" LOC = V12;
NET "RAM2_Addr[13]" LOC = V13;
NET "RAM2_Addr[12]" LOC = V15;
NET "RAM2_Addr[11]" LOC = U18;
NET "RAM2_Addr[10]" LOC = T18;
NET "RAM2_Addr[9]" LOC = T17;
NET "RAM2_Addr[8]" LOC = R18;
NET "RAM2_Addr[7]" LOC = R16;
NET "RAM2_Addr[6]" LOC = R15;
NET "RAM2_Addr[5]" LOC = P18;
NET "RAM2_Addr[4]" LOC = P17;
NET "RAM2_Addr[3]" LOC = P16;
NET "RAM2_Addr[2]" LOC = N18;
NET "RAM2_Addr[1]" LOC = N15;
NET "RAM2_Addr[0]" LOC = N14;


NET "RAM2_Data[15]" LOC = N11;
NET "RAM2_Data[14]" LOC = N12;
NET "RAM2_Data[13]" LOC = P10;
NET "RAM2_Data[12]" LOC = P11;
NET "RAM2_Data[11]" LOC = P12;
NET "RAM2_Data[10]" LOC = P13;
NET "RAM2_Data[9]" LOC = R10;
NET "RAM2_Data[8]" LOC = R11;
NET "RAM2_Data[7]" LOC = R12;
NET "RAM2_Data[6]" LOC = R14;
NET "RAM2_Data[5]" LOC = R13;
NET "RAM2_Data[4]" LOC = T12;
NET "RAM2_Data[3]" LOC = T14;
NET "RAM2_Data[2]" LOC = T15;
NET "RAM2_Data[1]" LOC = T16;
NET "RAM2_Data[0]" LOC = U13;
NET "RAM2_EN" LOC = N10;
NET "RAM2_OE" LOC = R9;
NET "RAM2_WE" LOC = M9;
NET "LED[15]" LOC = A14;
NET "LED[14]" LOC = E13;
NET "LED[13]" LOC = D13;
NET "LED[12]" LOC = B13;
NET "LED[11]" LOC = A13;
NET "LED[10]" LOC = F12;
NET "LED[9]" LOC = E12;
NET "LED[8]" LOC = A12;
NET "LED[7]" LOC = F11;
NET "LED[6]" LOC = E11;
NET "LED[5]" LOC = D11;
NET "LED[4]" LOC = C11;
NET "LED[3]" LOC = B11;
NET "LED[2]" LOC = A11;
NET "LED[1]" LOC = E10;
NET "LED[0]" LOC = D10;

NET "DISP1[6]" LOC = F8;
NET "DISP1[5]" LOC = E8;
NET "DISP1[4]" LOC = A8;
NET "DISP1[3]" LOC = F7;
NET "DISP1[2]" LOC = E7;
NET "DISP1[1]" LOC = D7;
NET "DISP1[0]" LOC = C7;
NET "DISP2[6]" LOC = B10;
NET "DISP2[5]" LOC = A10;
NET "DISP2[4]" LOC = G9;
NET "DISP2[3]" LOC = F9;
NET "DISP2[2]" LOC = E9;
NET "DISP2[1]" LOC = D9;
NET "DISP2[0]" LOC = C9;

# PlanAhead Generated physical constraints 

NET "com_data_ready" LOC = A16;
NET "com_rdn" LOC = C14;
NET "com_tbre" LOC = D14;
NET "com_tsre" LOC = N9;
NET "com_wrn" LOC = U5;
NET "RAM1_EN" LOC = M15;
NET "RAM1_OE" LOC = M16;
NET "RAM1_WE" LOC = M18;
NET "RAM1_Data[15]" LOC = M14;
NET "RAM1_Data[14]" LOC = M13;
NET "RAM1_Data[13]" LOC = L18;
NET "RAM1_Data[12]" LOC = L17;
NET "RAM1_Data[11]" LOC = L16;
NET "RAM1_Data[10]" LOC = L15;
NET "RAM1_Data[9]" LOC = K15;
NET "RAM1_Data[8]" LOC = K14;
NET "RAM1_Data[7]" LOC = K13;
NET "RAM1_Data[6]" LOC = K12;
NET "RAM1_Data[5]" LOC = J17;
NET "RAM1_Data[4]" LOC = J16;
NET "RAM1_Data[3]" LOC = J15;
NET "RAM1_Data[2]" LOC = J14;
NET "RAM1_Data[1]" LOC = J13;
NET "RAM1_Data[0]" LOC = J12;
NET "RAM1_Addr[17]" LOC = H17;
NET "RAM1_Addr[16]" LOC = H16;
NET "RAM1_Addr[15]" LOC = H15;
NET "RAM1_Addr[14]" LOC = H14;
NET "RAM1_Addr[13]" LOC = G16;
NET "RAM1_Addr[12]" LOC = G15;
NET "RAM1_Addr[11]" LOC = G14;
NET "RAM1_Addr[10]" LOC = G13;
NET "RAM1_Addr[9]" LOC = F18;
NET "RAM1_Addr[8]" LOC = F17;
NET "RAM1_Addr[7]" LOC = F15;
NET "RAM1_Addr[6]" LOC = F14;
NET "RAM1_Addr[5]" LOC = E16;
NET "RAM1_Addr[4]" LOC = E15;
NET "RAM1_Addr[3]" LOC = D17;
NET "RAM1_Addr[2]" LOC = D16;
NET "RAM1_Addr[1]" LOC = C18;
NET "RAM1_Addr[0]" LOC = C17;
